.gpt3__blog{
    display: flex;
    flex-direction: column;
}
.gpt3__blog-heading{
    width: 100%;
    text-align: left;

    margin-bottom: 5rem;
}
.gpt3__blog-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}
.gpt3__blog-container{
    display: flex;
    flex-direction: row;
}
.gpt3__blog-container_groupA{
    flex: 0.7;
    margin-right: 2rem;
}
.gpt3__blog-container_groupB{
    display: grid;
    flex: 1.3;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px){
    .gpt3__blog-container{
        flex-direction: column-reverse;
    }
    .gpt3__blog-container_groupA{
        margin: 2rem 0;
    }
    .gpt3__blog-container_groupA .gpt3__blog-container_article{
        width: 48%;
    }
    .gpt3__blog-container_groupA .gpt3__blog-container_article-image{
        height: 170px;
    }
}

@media screen and (max-width: 600px) {
    .gpt3__blog-container_groupB{
        grid-template-columns: repeat(1,1fr);
    }
    .gpt3__blog-container_groupA .gpt3__blog-container_article {
        width: 100%;
    }
    .gpt3__blog-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }
}

@media  screen and (min-width: 991px) {
    .gpt3__blog-container_groupA .gpt3__blog-container_article h3{
        font-size: 25px;
        line-height: 30px;
    }
}